<div class="card ">
  <div class="card-body">
    <div class="form-inline">
      <div class="form-group">
        <%= form_with model: @theme_word, local: true do |form| %>
          <h6><span class="badge badge-info">だれ(が)</span></h6>
          <%= form.text_field :who, {placeholder: "例)高専生", class: 'form-control', style: 'width: 650px;'} %>が
          <br>
          <h6><span class="badge badge-info">どこ(で)</span></h6>
          <%= form.text_field :where, {placeholder: "例)教室", class: 'form-control', style: 'width: 650px;'}  %>で
          <br>
          <h6><span class="badge badge-info">なにを</span></h6>
          <%= form.text_field :what, {placeholder: "例)レポートを書いた", class: 'form-control', style: 'width: 650px;'}  %>。
          <br><br>
          <%= form.submit  ("投稿する"), {class: 'btn btn-primary'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
