<div class="form-group">
  <%= form_with model: @user, url: user_path(@user), local: true, method: 'PATCH' do |form| %>
    <%= form.label "パスワード" %>
    <%= form.password_field :password, value: '', class: 'form-control' %>

    <%= form.label "パスワード（確認）" %>
    <%= form.password_field :password_confirmation, value: '', class: 'form-control' %>

    <%= form.submit "更新する", class: 'btn btn-primary' %>
  <% end %>
</div>
