<%= flash[:alert] %>

<% if @user.errors.any? %>
  <h2>エラーが発生しました</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <div class="alert alert-danger sml"><%= message %></div>
    <% end %>
  </ul>

<% end %>

<div class="text-center">
  <h1 class="h3 mb-3 font-weight-normal">アカウント作成</h1>
</div>
<div class="card justify-content-center">
  <div class="card-body ">
    <div class="row justify-content-center">

      <div class="col-12 col-md-10 col-lg-8 ">
        <%= form_for @user do |f| %>
          <div class="form-group ">
            <%= f.text_field :email, {class: 'form-control', id: 'exampleFormControlInput1', placeholder: 'Email'} %>
          </div>
          <div class="form-group">
            <%= f.text_field :name, {class: 'form-control', id: 'exampleFormControlInput1', placeholder: 'Name'} %>
          </div>
          <div class="form-group">
            <%= f.text_field :id_name, {class: 'form-control', id: 'exampleFormControlInput1', placeholder: 'ID'} %>
          </div>
          <div class="form-group">
            <%= f.text_field :bio, {class: 'form-control', id: 'exampleFormControlInput1', placeholder: 'bio'} %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, {class: 'form-control', id: 'exampleFormControlInput1', placeholder: 'Password'} %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, {class: 'form-control', id: 'exampleFormControlInput1', placeholder: 'Password Confirmation'} %>
          </div>


          </div>
          </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-12 col-md-10 col-lg-8">
                <%= submit_tag ("作成"), {class: 'btn btn-primary'} %>
                <%= link_to "ログイン", new_session_path, {class: 'btn btn-secondary '} %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
</div>
